@font-face {
    font-family: 'Dinot';
    font-style: normal;
    font-weight: 400;
    src: local('Dinot'),
    url('fonts/DINOT/Regular.woff2') format('woff2'),
    url('fonts/DINOT/Regular.woff') format('woff'),
    url('fonts/DINOT/Regular.ttf') format('truetype'),
    url('fonts/DINOT/Regular.eot') format('embedded-opentype');
}

body {
    color: white;
    background-color: #333333; /* farBackgroundGrey */
    font-family: 'Dinot', 'Georgia', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom: 2; 
}

a:link {
    color: yellow;
}

a:visited {
    color: darkgoldenrod;
}